<h1>Welcome to Eventopedia, <%=@current_user.first_name%>.</h1>

<% if !flash[:alert].nil? %> 
   <div class= "alert alert-danger">
   <%= flash[:alert] %>
   </div>
<% end %>

<table table class="table table-striped table-bordered table-sm">
<caption style='caption-side: top'>Upcoming Shows</caption>
    <thead class="thead-dark">
        <tr>
            <th>Event</th>
            <th>Venue</th>
            <th>Client</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
         <%@shows.each do |show|%> 
        <tr>            
            <td class='font-weight-bold'><%= link_to show.name, show_path(show) %></td>
            <td><%= show.venue %></td>
            <td><%= show.client %></td>
            <td><%= show.start %></td>
            <td><%= show.end %></td>
        </tr>
        <%end%>
        
    </tbody>
</table>


<div class="container-fluid float-left">
    <div class="row">
        <div class="col-lg-6">
            <table table class="table table-striped table-bordered table-sm">
            <caption style='caption-side: top'>Recently Acquired Equipment</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Equipment Name</th>
                    <th>Quantity</th>
                    <th>Date Acquired</th>
                </tr>
                </thead>
                <tbody>
                <% @equipment.each do |e|%>
                <tr>
                    <td><%= link_to "#{e.name}", equipment_path(e) %></td> 
                    <td><%= e.quantity %></td>  
                    <td><%= e.created_at %></td>                          
                </tr>
                </tbody>
                <% end %>
            </table>           
</div>

        <div class="col-lg-6">
            <table class="table table-striped table-bordered table-sm">
            <caption style='caption-side: top'>Gear Records</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Show</th>
                    <th>Equipment Name</th>
                    <th>Quantity</th>
                    <th>Date Checked Out</th>
                </tr>
                </thead>
                <tbody>
                <% @equipment_bookings.each do |e|%>
                <tr>
                    <td><%= link_to e.show.name, show_path(e.show) %>
                    <td><%= link_to e.equipment.name, equipment_path(e.equipment) %></td> 
                    <td><%= e.quantity %></td>  
                    <td><%= e.created_at %></td>                          
                </tr>
                </tbody>
                <% end %>
                </table>           
</div>