<h1>Welcome to Eventopedia, <%=@current_user.username%>.</h1>


<% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>



<%= form_for :user do |f| %>

<%=f.label :username%>
<%=f.text_field :username %><br>

<%=f.label :password%>
<%=f.password_field :password%><br>

<%=f.submit "Submit"%>
<%end%><br>
 <%= link_to 'Register Your Vendor', 'vendors/new' %>