<% if @equipment_booking.errors.any? %>
        <ul class= "alert alert-danger">
          <% @equipment_booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>


<%= form_for @equipment_booking do |f| %>
  <h3>Add Equipment to <%= @show.name %>:</h3>
  <%= f.collection_select :equipment_id, @current_user.vendor.equipment, :id, :name %>
  <%= f.label :quantity%>
  <%= f.number_field :quantity%>
  <%= f.hidden_field :show_id, value: @show.id %>
  <%= f.submit %>
<% end %>