<h1><%= @equipment.name %></h1>
<h3>Category: <%= "#{@equipment.category} > #{@equipment.sub_category}" %> </h3>
<h3>Quantity owned: <%= @equipment.quantity %></h3>
<h3>Manufactured by: <%= @equipment.manufacturer %></h3>
<%= link_to 'Edit', edit_equipment_path(@equipment) %>
<%= link_to 'Delete', equipment_path(@equipment), method: "delete"%>

