<h1><%= @equipment.name %></h1>

<% if !flash[:alert].nil? %> 
   <div class= "alert alert-danger">
   <%= flash[:alert] %>
   </div>
<% end %>

<h3>Category: <%= "#{@equipment.category} > #{@equipment.sub_category}" %> </h3>
<h3>Quantity owned: <%= @equipment.quantity %></h3>
<h3>Manufactured by: <%= @equipment.manufacturer %></h3>
<%if @permission.create_equipment %>
<%= link_to 'Edit', edit_equipment_path(@equipment) %>
<%= link_to 'Delete', equipment_path(@equipment), method: "delete", data: { confirm: "Are you sure you want to delete #{@equipment.name}?" }%>
<%end%>
