<% if @user.errors.any? %>
        <ul class= "alert alert-danger">
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>


<%= form_for @user do |f| %>

<h3>Create A New User</h3>

  <%=f.label :username %><br>
  <%=f.text_field :username%><br>

  <%=f.label :first_name %><br>
  <%=f.text_field :first_name%><br>

  <%=f.label :last_name %><br>
  <%=f.text_field :last_name%><br>

  <%=f.label :password %><br>
  <%=f.password_field :password%><br>

  <%=f.label :password_confirmation %><br>
  <%=f.password_field :password_confirmation%><br>
  
  <%=f.label :title %><br>
  <%=f.collection_select :permission_class_id, @permissions, :id, :title%><br>

<%=f.submit "Submit"%>
<%end%>