<% if @user.permission_class.bookable %>
  <h2><%=@user.username%>, <%= @user.permission_class.title %> Schedule </h2>

  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Show</th>
        <th>Venue</th>
        <th>Call Time</th>
        <th>Out Time</th>
      </tr>
    </thead>
    <tbody>
    <% @gigs.each do |gig| %>
      <tr>
        <td> <%= link_to gig.show.name, show_path(gig.show) %></td> 
        <td> <%= gig.show.venue %></td> 
        <td> <%= gig.call_time %></td> 
        <td> <%=gig.out_time%> </td>
      </tr> 
    <% end %>
    </tbody>
  </table>

<% if @permission.create_users || @current_user.id == @user.id %>
<%= link_to 'Edit User', edit_user_path(@user)%>
<%= link_to 'Delete User', user_path(@user), method: "delete", data: { confirm: "Are you sure?" }%>
<%end%>

<%elsif @permission.title == "admin"%>
    <h1><%=@user.username%> has admin priveleges.</h1>

        <% if @permission.create_users%>
          <%= link_to 'Edit User', edit_user_path(@user)%>
        <%end%>
        
<%else%>
    <h1> <%=@user.username%> </h1>
    
        <% if @permission.create_users%>
         <%= link_to 'Edit User', edit_user_path(@user)%>
         <%= link_to 'Delete User', user_path(@user), method: "delete", data: { confirm: "Are you sure you want to delete #{@user.username}?" }%>
        <%end%>

<%end%>



