<% if @technician_booking.errors.any? %>
        <ul class="error">
          <% @technician_booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>


<%= form_for @technician_booking do |f| %>
  <h3>Add Tech to <%= @show.name %>:</h3>
  <%= f.collection_select :user_id, @bookable_technicians, :id, :full_name %><br>
  <%= f.label :call_time%>
  <%= f.datetime_field :call_time%><br>
  <%= f.label :out_time%>
  <%= f.datetime_field :out_time%>
  <%= f.hidden_field :show_id, value: @show.id %><br>
  <%= f.submit %>
<% end %>