<% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>



<%= form_for vendors_path, url: vendors_path do |f| %>

<%=fields_for :vendor, @vendor do |vendor_field|%>
<%=vendor_field.label :vendor_name %>
<%=vendor_field.text_field :name%>
<%end%><br>

<%=fields_for :user, @user do |user_field|%>
<%=user_field.label :username %>
<%=user_field.text_field :username%>
<%end%><br>


<%=f.submit "Submit"%>
<%end%>