<% if !flash[:alert].nil? %> 
   <div class= "alert alert-danger">
   <%= flash[:alert] %>
   </div>
<% end %>

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Venue</th>
            <th>Client</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
<% @shows.each do |s|%>
    <tr>
    <td><%= link_to s.name, show_path(s) %></td>
    <td> <%= s.venue %> </td>
    <td> <%= s.client %> </td>
    <td> <%= s.start_display %> </td>
    <td> <%= s.end_display %> </td>
    </tr>
<% end %>
    </tbody>
</table>
<%if @permission.create_show%>
<%= link_to 'Add Show', new_show_path %>
<%end%>