<h1><%= @show.name %></h1>
<%= link_to 'Edit', edit_show_path(@show) %>
<%= link_to 'Delete', show_path(@show), method: "delete", data: { confirm: "Are you sure you want to delete #{@show.name}?" }%>
<h3>Venue: <%= @show.venue %></h3>
<h3>Client: <%= @show.client %></h3>
<h3>Start: <%= @show.start %></h3>
<h3>End: <%= @show.end %></h3>

<% unless @show.equipment.empty? %>
    <table>
    <caption style='caption-side: top'>Equipment Required</caption>
        <tr>
            <th>Equipment Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <% @show.equipment_bookings.each do |e|%>
        <tr>
            <td><%= link_to "#{e.equipment.name}", equipment_path(e.equipment) %></td>
            <td>
                <%= button_to '+', equipment_booking_path(e), params: {increment: 1} %>
                <%= e.quantity %>
                <%= button_to '-', equipment_booking_path(e), params: {increment: -1}%>
            </td>
            <td><%= button_to 'Delete', equipment_booking_path(e), method: 'delete' %></td>
        </tr>
        <% end %>
    </table>
<% end %>
<%= link_to 'Add equipment to Show', "/equipment_bookings/new/#{@show.id}" %>


<% unless @show.users.empty? %>
    <table>
    <caption style='caption-side: top'>Event Staff</caption>
        <tr>
            <th>Technician</th>
            <th>Call Time</th>
            <th>Out Time</th>
            <th></th>
        </tr>
        <% @show.technician_bookings.each do |t|%>
        <tr>
            <td><%= link_to t.user.username, user_path(t.user) %></td>
            <td><%= t.call_time %></td>
            <td><%= t.out_time %></td>
            <td><%= button_to 'Delete', technician_booking_path(t), method: 'delete' %></td>
        </tr>
        <% end %>
    </table>
<% end %>
<%= link_to 'Add staff to Show', "/technician_bookings/new/#{@show.id}" %>
