<div class= "error">
    <% if !flash[:alert].nil? %> 
    <%= flash[:alert] %>
    <% end %>
</div>

<table table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Event</th>
            <th>Venue</th>
            <th>Client</th>
            <th>Start</th>
            <th>End</th>
            <%if @permission.create_show%>
            <th></th>
            <th></th>
            <%end%>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class='font-weight-bold'><%= @show.name %></td>
            <td><%= @show.venue %></td>
            <td><%= @show.client %></td>
            <td><%= @show.start %></td>
            <td><%= @show.end %></td>
            <%if @permission.create_show%>
            <td><%= button_to "Edit", edit_show_path(@show), method: 'get' %></td>
            <td><%= button_to "Delete", show_path(@show), method: "delete", data: { confirm: "Are you sure you want to delete #{@show.name}?" }%></td>            
            <%end%>
        </tr>
    </tbody>
</table>
<div class="container-fluid float-left">
    <div class="row">
        <div class="col-lg-6">
            <table table class="table table-striped table-bordered table-sm">
            <caption style='caption-side: top'>Equipment Required</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Equipment Name</th>
                    <th>Quantity</th>
                    <%if @permission.book_equipment%>
                    <th></th>
                    <%end%>
                </tr>
                </thead>
                <% unless @show.equipment.empty? %>
                <tbody>
                <% @show.equipment_bookings.each do |e|%>
                <tr>
                    <td><%= link_to "#{e.equipment.name}", equipment_path(e.equipment) %></td>
                    <td>
                        <div style="float: left; width: auto;">
                        <%= button_to '-', equipment_booking_path(e), params: {increment: -1}, disabled: e.quantity_min? %>
                        </div>
                        <div style="float: left; width: auto; margin: 3px;">
                        <%= e.quantity %>
                        </div>
                        <div style="float: left; width: auto;">
                        <%= button_to '+', equipment_booking_path(e), params: {increment: 1}, disabled: e.quantity_max?%>
                        </div>
                    </td>
                    <%if @permission.book_equipment%>
                    <td><%= button_to 'Delete', equipment_booking_path(e), method: 'delete' %></td>
                    <%end%>
                </tr>
                <% end %>
                </tbody>
                <% end %>
            </table>
            <%if @permission.book_equipment%>
            <%= link_to 'Add equipment to Show', "/equipment_bookings/new/#{@show.id}" %>
            <%end%>
        </div>
        <div class="col-lg-6">
            <table class="table table-striped table-bordered table-sm">
            <caption style='caption-side: top'>Event Staff</caption>
                <thead  class="thead-dark">
                <tr>
                    <th>Technician</th>
                    <th>Call Time</th>
                    <th>Out Time</th>
                    <%if @permission.book_technician%>
                    <th></th>
                    <%end%>
                </tr>
                </thead>
                <% unless @show.users.empty? %>
                <tbody>
                <% @show.technician_bookings.each do |t|%>
                <tr>
                    <td><%= link_to t.user.full_name, user_path(t.user) %></td>
                    <td><%= t.call_time %></td>
                    <td><%= t.out_time %></td>
                    <%if @permission.book_technician%>
                    <td><%= button_to 'Delete', technician_booking_path(t), method: 'delete' %></td>
                    <%end%>
                </tr>
                <% end %>
                </tbody>
                <% end %>
            </table>
            <%if @permission.book_technician%>
            <%= link_to 'Add staff to Show', "/technician_bookings/new/#{@show.id}" %>
            <%end%>
        </div>
    </div>
</div>
