<table>
   <thead class="thead-dark">
      <tr>
         <th>Name</th>
         <th>Title</th>
      </tr> 
   </thead>
   <tbody>
   <%@users.each do |user|%>
         <tr>
            <%= form_with model: user, url: 'users/set_title' do |f| %>
            <%= f.hidden_field :id, value: user.id %>
            <td>
               <%= f.label user.full_name, "#{user.full_name}" %>
            </td>
            <td>
               <%= f.collection_select :permission_class_id, @permission_classes, :id, :title %>
            </td>
            <td><%=f.submit%></td>
         </tr>
      <%end%>
    <%end%>
   </tbody>
</table>