<table>
   <thead class="thead-dark">
      <tr>
         <th>Name</th>
         <th>Title</th>
      </tr> 
   </thead>
   <tbody>
   <%@users.each do |user|%>
      <%= form_with model: user, url: 'permission_classes/set_permissions' do |f| %>
         <tr>
            <%= f.hidden_field :vendor_id, value: @current_user.vendor.id %>
            <td>
               <%= f.label user.full_name, "#{user.full_name}" %>
            </td>
            <td>
               <%= f.collection_select :permission_class_id, @permission_classes, :id, :title %>
            </td>
            <td><%=f.submit%></td>
         </tr>
      <%end%>
    <%end%>
</tbody>
</table>


