<!DOCTYPE html>
<html>
  <head>
    <title>Eventopedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <table>
      <tr>
        <th><%= link_to 'Users', '/users' %></th>
        <th><%= link_to 'Shows', '/shows' %></th>
        <th><%= link_to 'Inventory', '/equipment' %></th>
        <th><%= link_to 'Log Out', '/logout' %></th>
      </tr>
    </table>
   
    <%= yield %>
  </body>
</html>
